<div class="offeredAmentites">
    <h4>Offered Amenities</h4>
    <div class="parent ">
        <div class="card border border-0 ">
            <div class="card-body">
                <i-bs name="tv" width="24" height="24"> </i-bs> &nbsp;&nbsp;Television
            </div>
        </div>
        <div class="card border border-0 ">
            <div class="card-body">
                <i-bs name="wifi" width="24" height="24"> </i-bs> &nbsp;&nbsp; Wifi
            </div>
        </div>
        <div class="card border border-0 ">
            <div class="card-body">
                <i-bs name="webcam" width="24" height="24"></i-bs> &nbsp;&nbsp; webcam
            </div>
        </div>
        <div class="card border border-0 ">
            <div class="card-body">
                <i-bs name="wifi" width="24" height="24"> </i-bs> &nbsp;&nbsp; Wifi
            </div>
        </div>
        <div class="card border border-0 ">
            <button type="button" class="btn btn-dark w-auto mt-2" data-bs-toggle="modal"
                data-bs-target="#offeredAmenities">Show all Amenities</button>
        </div>

    </div>

    <div class="modal fade" id="offeredAmenities" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>