<nav class="navbar fixed-bottom bg-light d-block d-md-none border border-top border-1  ">

    <div class="row w-100 text-center">
        <div class="col-8 ">
            <h5 class="mt-3">$ 1000 - $ 2000</h5>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-dark">Reserve </button>
        </div>
    </div>

</nav>