.card img {
    width: 100%;
    height: 11rem;
    object-fit: cover;
}


.filterCard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

@media (max-width:568px) {
    .filterCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width:568px) and (max-width:768px) {
    .filterCard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (min-width:768px) {
    .filterCard {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));

    }}