<div class="card  container-fluid ">
    <div class="card-body">
        <h5 class="">Special title treatment</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->

        <div class="d-flex justify-content-center">
            <div class="row no-gutters p-2 w-100">
                <div class="col-12 col-md-6 mt-2">
                    <div class="form-floating">
                        <input type="email" class="form-control shadow-none" id="floatingInput"
                            placeholder="Which city do you prefer?">
                        <label for="floatingInput">Which city do you prefer?</label>
                    </div>
                </div>

                <div class="col-6 col-md-3 mt-2">
                    <div class="form-floating">
                        <input type="date" class="form-control shadow-none" id="floatingInput" >
                        <label for="floatingInput">Check in</label>
                    </div>
                </div>
                <div class="col-6 col-md-3 mt-2">
                    <div class="form-floating">
                        <input type="date" class="form-control shadow-none" id="floatingInput">
                        <label for="floatingInput">Check out</label>
                    </div>
                </div>
                <div class=" text-center ">
                    <button type="button" class="btn btn-primary ms-2 button-17   mt-3  "><i-bs name="search">
                        </i-bs>&nbsp;&nbsp;Search</button>
                </div>

            </div>




        </div>
    </div>
</div>