<div class="card mt-4 mx-auto reservation " style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">$ 1000 - $ 2000</h5>
        <hr>
        <div class="row no-gutters w-100 mx-auto">

            <div class="col-6 ">
                <div class="form-floating">
                    <input type="date" class="form-control shadow-none w-100" id="floatingInput">
                    <label for="floatingInput">Check in</label>
                </div>
            </div>
            <div class="col-6 ">
                <div class="form-floating">
                    <input type="date" class="form-control shadow-none w-100" id="floatingInput">
                    <label for="floatingInput">Check out</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control shadow-none w-100" id="floatingInput">
                    <label for="floatingInput">Check out</label>
                </div>
            </div>
            <div class="col-12 mt-2 text-center">
                <button class="btn btn-dark  ">Reserve Now</button>
            </div>
        </div>
    </div>
</div>