<div class="card  p-4 bg-secondary ">
    <div class="card-body">
      <h5 class="card-title text-light">Browse For <br> More Properties</h5>
      <p class="card-text">Explore properties by their categories/types...</p>
      <button  class="btn btn-dark mt-2">Find A Property</button>
    </div>
  </div>