.card-body {
    height: 13rem;
}

.card-title {
    font-style: normal;
    font-size:2.2rem;
    font-weight: 700;
}
button{
    
    width: 13rem;
    border-radius: 1rem;
}
@media (max-width:800px) {
    .card{
        width: 100%;
    }
    .card-title{
        font-size: 1.5rem;
    }
}