<div class="parent">
    <div class="div1">
        <button type="button" class="btn btn-dark gallerybtnsm" data-bs-toggle="modal" data-bs-target="#staticBackdropGallery">Show all Photos</button>
    </div>
    <div class="div2"></div>
    <div class="div3"></div>
    <div class="div4"></div>
    <div class="div5">
        <button type="button" class="btn btn-dark gallerybtnMd"  data-bs-toggle="modal" data-bs-target="#staticBackdropGallery">Show all Photos</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdropGallery" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-xl modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">gallery title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
