.parent {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    border: 1px solid green;
    height: 20rem;
    padding: 0.5rem;
    margin: 0% auto;
}

.div1,
.div2,
.div3,
.div4,
.div5 {
    border: 1px solid green;
}

.div1 {
    grid-area: 1 / 1 / 6 / 3;
    position: relative;

    button {
        position: absolute;
        right: 5px;
        bottom: 10px;
    }
}

.div2 {
    grid-area: 1 / 3 / 3 / 5;
}

.div3 {
    grid-area: 3 / 3 / 5 / 5;
}

.div4 {
    grid-area: 1 / 5 / 3 / 7;
}

.div5 {
    grid-area: 3 / 5 / 5 / 7;
    position: relative;

    button {
        position: absolute;
        right: 5px;
        bottom: 10px;
    }
}

@media (max-width:769px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div2,
    .div3,
    .div4,
    .div5,
    .gallerybtnMd {
        display: none;
    }
}

@media (min-width:769px) {
    .gallerybtnsm {
        display: none;
    }
}