<div class="Homehost bg-secondary position-relative ">
    <div class="homeTitle position-absolute bottom-0 ms-3 mb-4 ">
        <h5>Try Hosting With Us</h5>
        <p class="text-wrap">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti dignissimos sint omnis provident tempora</p>
        <button type="button" class="btn btn-dark" routerLink="add-property">Dark</button>
    </div>
</div>