.Homehost{
    border: 1px solid green;
    height: 18rem;
}

.homeTitle h5{
    font-size: 2rem;
}
.homeTitle p{
    width: 500px;
   
    border: 1px solid green;
}
.homeTitle button{
    width: 200px;
}
@media (max-width:568px) {
    .homeTitle h5{
        font-size: 1.8rem;
    }
    .homeTitle p{
        font-size: 1rem;
        width: 300px;
        border: 1px solid green;
    }
   
}