<div class="card border border-0">
    <div class="card-body">
        <div class="row">
            <div class="col-8 col-md-10">
                <h4 class="">Well Furnished Apartment</h4>
                <span>100 Smart Street, LA, USA</span>
            </div>
            <div class="col-2 col-md-1 d-flex justify-content-center align-items-center ">
                <i-bs name="suit-heart-fill" width="24" height="24" class="text-danger d-none"></i-bs>
                <i-bs name="suit-heart" width="24" height="24" class="d-block"></i-bs>
            </div>
            <div class="col-2 col-md-1  d-flex justify-content-center align-items-center "> <i-bs name="share-fill" width="24" height="24">
                </i-bs>
            </div>
        </div>
    </div>
</div>