<div class="hygiene">
    <h4>Offered Amenities</h4>
    <div class="parent">
        <div class="card border border-0 ">
            <div class="card-body">
                <i-bs name="tv" width="24" height="24"> </i-bs> &nbsp;&nbsp;Television
            </div>
        </div>
        <div class="card border border-0 ">
            <div class="card-body">
                <i-bs name="wifi" width="24" height="24"> </i-bs> &nbsp;&nbsp; Wifi
            </div>
        </div>
        <div class="card border border-0 ">
            <div class="card-body">
                <i-bs name="webcam" width="24" height="24"></i-bs> &nbsp;&nbsp; webcam
            </div>
        </div>
        <div class="card border border-0 ">
            <div class="card-body">
                <i-bs name="wifi" width="24" height="24"> </i-bs> &nbsp;&nbsp; Wifi
            </div>
        </div>
        <div class="card border border-0 ">
            <button type="button" class="btn btn-dark w-auto mt-2" data-bs-toggle="modal"
                data-bs-target="#offeredAmenities">Show all Amenities</button>
        </div>

    </div>
</div>