<div class="">

    <app-imagegallery></app-imagegallery>
    <div class="row mt-3 mx-auto" style="width:90%">
        <div class="col-12 col-md-8">
            <app-titles></app-titles>
            <app-main-amenities></app-main-amenities>
            <app-description></app-description>
            <app-offered-amenities></app-offered-amenities>
            <app-safety-hygiene></app-safety-hygiene>

            <br>
        </div>
        <div class="col-md-4 d-none d-md-block">
            <app-reservation-detail></app-reservation-detail>
        </div>
        <app-map-detail></app-map-detail>
        <app-comment></app-comment>
    </div>
    <app-bottom-tabs></app-bottom-tabs>
</div>