<div class="names">
    <p>Latest Property </p>
</div>

<div class="d-flex flex-wrap  gap-2 mx-auto flex-fill cardparent">
    <div class="card">
        <div class=" position-relative">
            <img src="https://images.unsplash.com/photo-1614160859544-177611d11f6b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1286&q=80"
                class="card-img-top" alt="...">
            <div class="position-absolute top-0 end-0 me-2 mt-1">
                <p class="card-text"> <i-bs name="suit-heart-fill" width="18" height="18" class="text-danger"></i-bs>
                    <i-bs name="suit-heart" width="18" height="18" class="d-none"></i-bs>
                </p>
            </div>
            <div class="position-absolute bottom-0 start-0 mb-2 ms-2">
                <p class="card-text text-light"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example </p>
            <div class="d-flex flex-row flex-wrap " style="margin-top: -20px;">
                <div class="px-1 d-flex align-items-center"><img src="../../../../assets/feature-card/double-bed.png"
                        alt="" class="img-fluid icons">
                    &nbsp; <p class="mt-3">5</p>
                </div> &nbsp;
                <div class="px-1 d-flex align-items-center"><img src="../../../../assets/feature-card/bath-tub.png"
                        alt="" class="img-fluid icons">
                    &nbsp; <p class="mt-3">5</p>
                </div> &nbsp;
                <div class="px-1 d-flex align-items-center"><img src="../../../../assets/feature-card/car.png" alt=""
                        class="img-fluid icons">
                    &nbsp; <p class="mt-3">5</p>
                </div>&nbsp;
                <div class="px-1 d-flex align-items-center"><img src="../../../../assets/feature-card/paw.png" alt=""
                        class="img-fluid icons">
                    &nbsp; <p class="mt-3">5</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class=" position-relative">
            <img src="https://images.unsplash.com/photo-1614160859544-177611d11f6b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1286&q=80"
                class="card-img-top" alt="...">
            <div class="position-absolute top-0 end-0 me-2 mt-1">
                <p class="card-text"> <i-bs name="suit-heart-fill" width="18" height="18" class="text-danger"></i-bs>
                    <i-bs name="suit-heart" width="18" height="18" class="d-none"></i-bs>
                </p>
            </div>
            <div class="position-absolute bottom-0 start-0 mb-2 ms-2">
                <p class="card-text text-light"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example </p>
            <div class="d-flex flex-row flex-wrap " style="margin-top: -20px;">
                <div class="px-1 d-flex align-items-center"><img src="../../../../assets/feature-card/double-bed.png"
                        alt="" class="img-fluid icons">
                    &nbsp; <p class="mt-3">5</p>
                </div> &nbsp;
                <div class="px-1 d-flex align-items-center"><img src="../../../../assets/feature-card/bath-tub.png"
                        alt="" class="img-fluid icons">
                    &nbsp; <p class="mt-3">5</p>
                </div> &nbsp;
                <div class="px-1 d-flex align-items-center"><img src="../../../../assets/feature-card/car.png" alt=""
                        class="img-fluid icons">
                    &nbsp; <p class="mt-3">5</p>
                </div>&nbsp;
                <div class="px-1 d-flex align-items-center"><img src="../../../../assets/feature-card/paw.png" alt=""
                        class="img-fluid icons">
                    &nbsp; <p class="mt-3">5</p>
                </div>
            </div>
        </div>
    </div>
</div>