.card {
    width: 18rem;
}

.card img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.names {
    width: 16rem;
    margin-bottom: 5px;
    display: block;
    align-items: center;
}

.names::after {
    content: '';
    display: block;
    width: 50%;
    background-color: rgb(103, 99, 99);
    height: 0.3rem;
    margin-top: -10px;
    border-radius: 0px 2px 2px 0px;
}

.names p {
    margin-top: 5px;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.card-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.card-body img {
    width: 20px;
    height: 20px;

}


@media  (min-width: 300px) and (max-width: 700px) {

    .cardparent{
        display: flex;
        justify-content: center;
        .card{
            width: 18rem;
        }
    }

    p {
        font-size: 18px;
    }

    .names {
        width: 12rem;
    }


}
