.parent {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 2fr));
    gap: 20px;
}

.facilities {
    height: 5rem;
    border-radius: 14px;
}

button {
    padding: 0%;
    background-color: transparent;
    border: none;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 0.9rem;
}

span {
    font-weight: 600;
    font-size: 1.2rem;
}