<div class="container">
    <h4 class="mt-5">Add facilities available at <br class="d-md-none">your place .</h4>
    <div class="parent">
        <div class="border facilities d-flex align-items-center text-center">
            <div class="col-3"><button> <i-bs name="plus-circle" width="45" height="25"></i-bs> </button> </div>
            <div class="col-6"> <span>5 </span> Bedrooms </div>
            <div class="col-3"><button> <i-bs name="dash-circle" width="45" height="25"></i-bs> </button></div>
        </div>
        <div class="border facilities d-flex align-items-center text-center">
            <div class="col-3"><button> <i-bs name="plus-circle" width="45" height="25"></i-bs> </button> </div>
            <div class="col-6"> <span>5 </span> Bathrooms </div>
            <div class="col-3"><button> <i-bs name="dash-circle" width="45" height="25"></i-bs> </button></div>
        </div>
        <div class="border facilities d-flex align-items-center text-center">
            <div class="col-3"><button> <i-bs name="plus-circle" width="45" height="25"></i-bs> </button> </div>
            <div class="col-6"> <span>5 </span> Parking </div>
            <div class="col-3"><button> <i-bs name="dash-circle" width="45" height="25"></i-bs> </button></div>
        </div>
        <div class="border facilities d-flex align-items-center text-center">
            <div class="col-3"><button> <i-bs name="plus-circle" width="45" height="25"></i-bs> </button> </div>
            <div class="col-6"> <span>5 </span> Kitchen </div>
            <div class="col-3"><button> <i-bs name="dash-circle" width="45" height="25"></i-bs> </button></div>
        </div>

    </div>

    <h4 class="mt-5">Add amenities available at <br class="d-md-none">your place.</h4>

    <div class="parent">
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Air Conditioning</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Ventilation</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Internet and Phone Connectivity</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Laundry </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Elevator</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Heating</h5>
                            </div>
                        </div>
                    </div>  
                </div>
            </label>
        </span>
    </div>

</div>