<div class="filterOptions w-100">
    <div class="row w-100">
        <div class="col-9 ">
            <div class="d-none d-md-block">
                <ul class="nav  ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Apartments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Houses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Villas</a>
                    </li>
                    <li class="nav-item  d-none d-md-block">
                        <a class="nav-link ">Homestays</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-light float-end"> <i-bs name="funnel">   </i-bs>
                Filter</button>
        </div>
    </div>


</div>