
<div class="parent">
    <div class="card">
        <div class="card-body text-center">
            <img src="../../../../../assets/feature-card/double-bed.png" alt="">

            <h6 class="card-subtitle mt-2 text-body-secondary">2 Bedrooms</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img src="../../../../../assets/feature-card/bath-tub.png" alt="">
            <h6 class="card-subtitle mt-2 text-body-secondary">2 Bathrooms</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img src="../../../../../assets/feature-card/car.png" alt="">
            <h6 class="card-subtitle mt-2 text-body-secondary">2 Cars / 2 Bikes</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <img src="../../../../../assets/feature-card/paw.png" alt="">
            <h6 class="card-subtitle mt-2 text-body-secondary">0 pets Allowed</h6>
        </div>
    </div>

</div>