.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width:769px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}