.parent,
.userComments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.parent {
    height: 7.8rem;
}

.col-3 {
    font-size: 0.8rem;
}

.card {
    height: 2.5rem;

}

.progress {
    height: 10px;
    width: 60%;
    float: right;
}

@media (max-width:768px) {
    .parent {
        display: grid;
        height: fit-content;
        grid-template-columns: repeat(1, 100%);
        // grid-template-rows: repeat(5, 1fr);

    }

    .card {
        height: 3rem;

    }
}