<div class="offeredAmentites mt-4 p-0">
    <h4> Reviews <i-bs name="star-fill" width="24" height="24">
        </i-bs> &nbsp; 5.0</h4>
    <div class="parent mt-3 p-0">
        <div class="card border border-0  ">
            <div class="card-body  p-0">
                <div class="row ">
                    <div class="col-5   ">
                        Amenities
                    </div>
                    <div class="col-5 p-0 my-auto ">
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 25% ;background-color:black"></div>
                        </div>
                    </div>
                    <div class="col-2">
                        5.0
                    </div>

                </div>
            </div>
        </div>

        <div class="card border border-0 ">
            <div class="card-body  p-0">
                <div class="row ">
                    <div class="col-5">
                        Hygiene
                    </div>
                    <div class="col-5">
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 25% ;background-color:black"></div>
                        </div>
                    </div>
                    <div class="col-2">
                        5.0
                    </div>

                </div>
            </div>
        </div>

        <div class="card border border-0 ">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-5">
                        Communication
                    </div>
                    <div class="col-5">
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 25% ;background-color:black"></div>
                        </div>
                    </div>
                    <div class="col-2">
                        5.0
                    </div>

                </div>
            </div>
        </div>

        <div class="card border border-0 ">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-5">
                        <span class="text-wrap "> Property</span>
                    </div>
                    <div class="col-5">
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 25% ;background-color:black"></div>
                        </div>
                    </div>
                    <div class="col-2">
                        5.0
                    </div>

                </div>
            </div>
        </div>

        <div class="card border border-0 ">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-5">
                        Value for Money
                    </div>
                    <div class="col-5">
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 25% ;background-color:black"></div>
                        </div>
                    </div>
                    <div class="col-2">
                        5.0
                    </div>

                </div>
            </div>
        </div>

    </div>

        <app-user-comments></app-user-comments>
     
 