<div>
       <app-banner></app-banner>
       <br>
       <div class="homeContent">
              <app-home-card></app-home-card>
              <app-home-card></app-home-card>
              <app-ad-banner></app-ad-banner>
              <app-feature-card></app-feature-card>
              <div class="mt-2">
                     <app-ad-banner></app-ad-banner>
              </div>
       </div>
</div>