<div class="description mt-2">
    <h4>Apartment Description</h4>
    <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ut aut qui quidem pariatur eveniet voluptatum
        tenetur consequatur recusandae deserunt, facilis, beatae maxime error amet tempora, soluta ipsum architecto at
        <br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus earum doloremque porro nulla iusto animi
        totam sed iste. Aspernatur architecto rem dolores voluptate. Cupiditate aut ut voluptatibus ducimus iusto esse.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus earum doloremque porro nulla iusto animi
        totam sed iste. Aspernatur architecto rem dolores voluptate. Cupiditate aut ut voluptatibus ducimus iusto esse.
    </p>
</div>