<div class="names">
    <p>Latest Property </p>
</div>

<div class="ms-1 ms-md-2 pb-2 card-container d-flex">
    <div class="card text-bg-dark position-relative ">
        <img src="https://images.pexels.com/photos/1433052/pexels-photo-1433052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="card-img" alt="...">
        <div class="position-absolute top-0 end-0 me-2 mt-1">
            <p class="card-text"> <i-bs name="suit-heart-fill" width="18" height="18" class="text-danger"></i-bs> <i-bs
                    name="suit-heart" width="18" height="18" class="d-none"></i-bs> </p>
        </div>
        <div class="position-absolute bottom-0 start-0 mb-2 ms-2">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
    </div>

</div>
<br>