.card,
.card img {
    width: 220px;
    height: 220px;
    object-fit: cover;
}
.card-container{
    margin-top: 1rem;
}

.card img {
    filter: brightness(85%);
}

.card_Parent {
    position: relative;
}

.card_Child {
    height: fit-content;
    border: 1px solid red;
    position: absolute;
    bottom: 0 !important;


}

.names {
    width: 16rem;
    margin-bottom: 5px;
    display: block;
    align-items: center;
}

.names::after {
    content: '';
    display: block;
    width: 50%;
    background-color: rgb(103, 99, 99);
    height: 0.3rem;
    margin-top: -10px;
    border-radius: 0px 2px 2px 0px;
}

.names p {
    margin-top: 5px;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

@media (max-width: 768px) {

    .card,
    .card img {
        width: 180px;
        height: 200px;
        object-fit: cover;
    }

    p {
        font-size: 18px;
    }

    .names {
        width: 12rem;
    }

}