<div class="mt-4">
    <h4>Listed Properties</h4>
    <div class="parent">
        <div class="card">
            <img src="https://c4.wallpaperflare.com/wallpaper/108/140/869/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview.jpg" height="160"  class="card-img-top" alt="...">
            <div class="card-body">
               <div class="d-flex gap-2 justify-content-between ">
                <a href="#" class="btn btn-dark rounded">Modify</a>
                <a href="#" class="btn btn-outline-light text-dark rounded">Remove</a>
               </div>
            </div>
        </div>
    
        <div class="card">
            <img src="https://c4.wallpaperflare.com/wallpaper/108/140/869/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview.jpg" height="160"  class="card-img-top" alt="...">
            <div class="card-body">
               <div class="d-flex gap-2 justify-content-between ">
                <a href="#" class="btn btn-dark rounded">Modify</a>
                <a href="#" class="btn btn-outline-dark text-dark rounded">Remove</a>
               </div>
            </div>
        </div>
    
            <div class="card">
                <img src="https://c4.wallpaperflare.com/wallpaper/108/140/869/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview.jpg" height="160"  class="card-img-top" alt="...">
                <div class="card-body">
                <div class="d-flex gap-2 justify-content-between ">
                    <a href="#" class="btn btn-dark rounded">Modify</a>
                    <a href="#" class="btn btn-outline-light text-dark rounded">Remove</a>
                </div>
                </div>
            </div>
        
    </div>
</div>