.parent{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
   gap: 20px;
}
@media (max-width:568px) {
    .parent{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 2fr));
        gap: 10px;
    }
}