.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px // grid-template-rows: repeat(4, 1fr);
}

.smReview {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.smReview::-webkit-scrollbar {
    width: 0.5em;
    /* Set width of the scrollbar */
}

.smReview::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Set the color of the scrollbar thumb */
}

.smcard {
    flex: 0 0 auto;
}

@media (min-width:2000px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px // grid-template-rows: repeat(4, 1fr);
    }
}