<div class="mdReview d-none d-md-block">
    <div class="parent">
        <div class="card border-0 ">
            <div class="card-body">
                <div class="row">
                    <div class="col-2"><img
                            src="../../../../../../assets/1696481638665pcKxo477yjVnrG0TzJwATIzevWurWU8kCdRbtmTyQ8DPtM3sq67cJoF3A4OCiwinlife.jpg"
                            alt="" class="rounded-circle" width="80"></div>
                    <div class="col-9 my-auto ms-1">
                        <h6 class="card-subtitle mb-2 text-body-secondary float-end "> <i-bs name="pin-angle"> </i-bs>
                            Bangalore ,India</h6>
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>

                    </div>
                </div>
                <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>

            </div>
        </div>
        <div class="card border-0 ">
            <div class="card-body">
                <div class="row">
                    <div class="col-2"><img
                            src="../../../../../../assets/1696481638665pcKxo477yjVnrG0TzJwATIzevWurWU8kCdRbtmTyQ8DPtM3sq67cJoF3A4OCiwinlife.jpg"
                            alt="" class="rounded-circle" width="80"></div>
                    <div class="col-9 my-auto ms-1">
                        <h6 class="card-subtitle mb-2 text-body-secondary float-end "> <i-bs name="pin-angle"> </i-bs>
                            Bangalore ,India</h6>
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>

                    </div>
                </div>



                <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>

            </div>
        </div>
        <div class="card  border-0 ">
            <div class="card-body">
                <div class="row">
                    <div class="col-2"><img
                            src="../../../../../../assets/1696481638665pcKxo477yjVnrG0TzJwATIzevWurWU8kCdRbtmTyQ8DPtM3sq67cJoF3A4OCiwinlife.jpg"
                            alt="" class="rounded-circle" width="80"></div>
                    <div class="col-9 my-auto ms-1">
                        <h6 class="card-subtitle mb-2 text-body-secondary float-end "> <i-bs name="pin-angle"> </i-bs>
                            Bangalore ,India</h6>
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>

                    </div>
                </div>



                <p class="card-text mt-2">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>

            </div>
        </div>


    </div>
    <button type="button" class="btn btn-dark ms-3 mt-2">Show All Reviews</button>
</div>
<div class="smReview d-md-none ">
    <div class="card smcard" style="width: 18rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-2"><img
                        src="../../../../../../assets/1696481638665pcKxo477yjVnrG0TzJwATIzevWurWU8kCdRbtmTyQ8DPtM3sq67cJoF3A4OCiwinlife.jpg"
                        alt="" class="rounded-circle" width="50"></div>
                <div class="col-7 ms-3 my-auto ">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                </div>
            </div>
            <p class="card-text text-wrap mt-1">Some quick example text to build on the card title and make up the bulk
                of
                the card's
                content. <br>
                <a class="card-link">Card link</a>
            </p>
            <h6 class="card-subtitle mb-2 text-body-secondary float-end "> <i-bs name="pin-angle"> </i-bs>
                Bangalore ,India</h6>
        </div>
    </div>
    <div class="card smcard" style="width: 18rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-2"><img
                        src="../../../../../../assets/1696481638665pcKxo477yjVnrG0TzJwATIzevWurWU8kCdRbtmTyQ8DPtM3sq67cJoF3A4OCiwinlife.jpg"
                        alt="" class="rounded-circle" width="50"></div>
                <div class="col-7 ms-3 my-auto ">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                </div>
            </div>
            <p class="card-text text-wrap mt-1">Some quick example text to build on the card title and make up the bulk
                of
                the card's
                content. <br>
                <a class="card-link">Card link</a>
            </p>
            <h6 class="card-subtitle mb-2 text-body-secondary float-end "> <i-bs name="pin-angle"> </i-bs>
                Bangalore ,India</h6>
        </div>

    </div>

</div>
<div class="row d-md-none">
    <div class="col-12">
        <button type="button" class="btn btn-dark w-100">Show All Reviews</button>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>