.parent{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 2fr));
   gap: 20px;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 0.9rem;
}
button{
    width: 200px;
}
@media (max-width:568px) {
    .parent{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 2fr));
       gap: 20px;
    }
    button{
        display: block;
        margin: 0% auto;
        width: 80%;
       
    }
}