<div class="container">
    <h4 class="mt-5">What kind of place will <br class="d-md-none"> you host?</h4>
    <div class="parent mt-4">

        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Apartment</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Townhouse</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Duplex</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Penthouse</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Cottage</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Bungalow</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Ranch</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Mansion</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Loft</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Boat House</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Chalet</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">TreeHouse</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
        <span>
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off"
                (click)="changes($event)">
            <label class="btn p-0 shadow-none" for="btn-check-outlined">
                <div class="card ">
                    <div class="row g-0 h-100">
                        <div class="col-md-4">
                            <img src="https://wallpapers.com/images/hd/hd-sunset-at-beach-w5ped7x6g3uo2o76.jpg"
                                class="img-fluid rounded-start h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body h-100 my-auto">
                                <h5 class="card-title mt-2">Villa</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </span>
        <!--  -->
    </div>
    <button type="button" class="btn btn-dark mt-4 "  routerLink="/home/became-host/place-description" (click)="navigate()">Dark</button>
</div>